 .crimeJudgeCompareMainHeader{
display: flex;
flex-direction: column;
  min-height: calc(100vh - 80px); 
  background-color: #f8f9fa;
  font-family: 'Georgia', serif;
  padding-top: 10px;


 }

 .crimeJudgeCompareHeader{
    text-align: center;
 }